black==23.9.0
click==8.1.7
pytest==7.4.2
pytest-cov==4.1.0
pylint==2.17.5
nbval==0.10.0
cvlib==0.2.7
opencv-python-headless==4.8.0.76
Pillow==10.0.0
tensorflow==2.13.0
uvicorn==0.23.2
python-multipart==0.0.6
fastapi==0.103.1
nest-asyncio==1.5.7
jupyterlab==4.0.5